@page "/"
@inject NavigationManager Navigation
@inherits HomeModel
@rendermode InteractiveServer

<PageTitle>Главная</PageTitle>
<link href="/DictionaryOfStyles.css" rel="stylesheet" />
<header>
	<img class="log" src="/Pictures/Headlines/MainWave.png" style="width: 100%; height: auto;" ondragstart="return false;">
	<div class="container">
		<div class="overlay-text">
			<h1>Acoustic fingerprint</h1>
			<p>
				сжатая цифровая сводка, цифровой отпечаток пальца, детерминированно сгенерированный
				на основе аудиосигнала, который можно использовать для идентификации аудиосэмпла
				или быстрого поиска похожих элементов в музыкальной базе данных.
			</p>
		</div>
	</div>
</header>

<button class="button-download" @onclick="NavigateToUpload">Загрузить аудио</button>