@page "/UploadingAudioForComparison"
@inject NavigationManager Navigation
@inherits UploadingAudioForComparisonModel
@rendermode InteractiveServer

<PageTitle>Загрузка аудио для сравнения</PageTitle>

<link href="/DictionaryOfStyles.css" rel="stylesheet" />
<style>
	h1 {
		margin-top: 5vw;
		margin-left: 27vw;
	}
</style>
<header>
	<div class="container">
		<img class="log" src="/Pictures/Headlines/DownloadSecondAudio.Wave.png" ondragstart="return false;">
		<div class="overlay-text">
			<h1>Аудио для сравнения</h1>
		</div>
	</div>
</header>

<button class="button-download" @onclick="NavigateToGenerate">Загрузить аудио</button>
