@page "/UploadingAudioForComparison"
@inject NavigationManager Navigation
@inherits UploadingAudioForComparisonModel
@rendermode InteractiveServer

<PageTitle>Загрузка аудио для сравнения</PageTitle>

<link href="/DictionaryOfStyles.css" rel="stylesheet" />
<style>

</style>
<header>
	<img class="log" src="/Pictures/Headlines/DownloadSecondAudio.Wave.png" style="width: 100%; height: auto;" ondragstart="return false;">
	<div class="container">
		<div class="overlay-text">
			<h1>Аудио для сравнения</h1>
		</div>
	</div>
</header>

<button class="button-download" @onclick="NavigateToGenerate">Загрузить аудио</button>
