@page "/WorkingWithFingerprint"
@inject NavigationManager Navigation
@inherits WorkingWithFingerprintModel
@rendermode InteractiveServer

<PageTitle>Работа с готовыми аудио-отпечатками</PageTitle>

<link href="/DictionaryOfStyles.css" rel="stylesheet" />
<style>
	h1 {
		margin-top: -21vw;
	}

	h2 {
		margin-left: 10vw;
	}

</style>
<header>
	<img class="log" src="/Pictures/Headlines/FingerprintGeneration.Wave.png" style="width: 100%; height: auto;" ondragstart="return false;">
	<div class="container">
		<div class="overlay-text">
			<h1>Готовые аудио-отпечатки</h1>
		</div>
	</div>
</header>

	<h2>СПЕКТРАЛЬНЫЙ АНАЛИЗ</h2>
	<a class="pic" href="/graff1.png" data-lightbox="example-1">
		<img class="pic" src="/graff1.png" alt="График спектрального анализа">
	</a>	
	<h2>МЕТОД MFCC</h2>
	<a class="pic" href="/graff2.png" data-lightbox="example-2">
		<img class="pic" src="/graff2.png" alt="График метода MFCC">
	</a>
	<div class="buttons-container2">
		<button class="button-download2">Скачать график<br />Спектрального анализа</button>
		<button class="button-download2">Скачать график<br />метода MFCC</button>
	</div>