/* _content/Fingerprint.Unifications/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-yefuwl2qk8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yefuwl2qk8] {
    flex: 1;
}

.sidebar[b-yefuwl2qk8] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yefuwl2qk8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yefuwl2qk8]  a, .top-row[b-yefuwl2qk8]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-yefuwl2qk8]  a:hover, .top-row[b-yefuwl2qk8]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-yefuwl2qk8]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-yefuwl2qk8] {
        justify-content: space-between;
    }

    .top-row[b-yefuwl2qk8]  a, .top-row[b-yefuwl2qk8]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yefuwl2qk8] {
        flex-direction: row;
    }

    .sidebar[b-yefuwl2qk8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yefuwl2qk8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-yefuwl2qk8]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-yefuwl2qk8], article[b-yefuwl2qk8] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-yefuwl2qk8] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-yefuwl2qk8] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Fingerprint.Unifications/Components/Pages/Home.razor.rz.scp.css */
*[b-ror2ateb36] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body[b-ror2ateb36], html[b-ror2ateb36] {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body[b-ror2ateb36] {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.log[b-ror2ateb36] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 0;
    margin-bottom:4vw;
}

.container[b-ror2ateb36] {
    position: relative;
    width: 100%;
    height: auto;
}

.overlay-text[b-ror2ateb36] {
    position: fixed;
    top: 0%;
    left:0%;
    color: white;
    z-index: 1;
    padding: 1vw;
}

h1[b-ror2ateb36] {
    user-select: none;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

p[b-ror2ateb36] {
    user-select: none;
    font-size: 1.6vw;
    text-align: center;
    line-height: 1.4;
    color: #A2D6F9;
}

.button-download[b-ror2ateb36] {
    position: absolute;
    margin-top: 38vw;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #1E96FC;
    border-color: #1E96FC;
    color: white;
    border-radius: 8px;
    padding: 25px 40px;
    font-size: 24px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .button-download:hover[b-ror2ateb36] {
        background-color: #072AC8;
    }

.darker-border-checkbox.form-check-input[b-ror2ateb36] {
    border-color: #929292;
}
@media (max-width: 850px) {
    .button-download[b-ror2ateb36] {
        font-size: 1.2rem; /* Уменьшение размера шрифта кнопки */
        padding: 5px 15px; /* Больше пространства вокруг текста */
    }
}
